<a
    class="skip-navigation"
    tabindex="1"
    href="#main-content"
>
    {{t 'skip_navigation' }}
</a>

<header class="header layout-header">
    <div class="layout-container container-fluid">
        <div class="row justify-content-md-center align-items-center py-4">
            <div class="col-6 col-lg-3">
                <div class="layout-logo">
                    {{#link 'help_center'}}
                        <img
                            src="{{settings.logo}}"
                            alt="GAA Connect logo"
                        >
                    {{/link}}
                </div>
            </div>
            <div class="col-6 col-lg-9">
                <div class="nav-wrapper">
                    <div class="user-nav-wrapper position-relative">
                        <button
                        class="menu-button"
                        aria-controls="user-nav"
                        aria-expanded="false"
                        aria-label="{{t 'toggle_navigation'}}"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            focusable="false"
                            viewBox="0 0 16 16"
                            class="icon-menu"
                        >
                            <path
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                d="M1.5 3.5h13m-13 4h13m-13 4h13"
                            />
                        </svg>
                    </button>
                    <nav
                        class="user-nav"
                        id="user-nav"
                    >
                        {{link 'community'}}
                        {{link 'new_request' class='submit-a-request'}}
                    </nav>
                    </div>

                    {{#if signed_in}}
                        <div class="user-info dropdown">
                            <button
                                class="dropdown-toggle"
                                aria-haspopup="true"
                            >
                                {{user_avatar class="user-avatar"}}
                            </button>
                            <div
                                class="dropdown-menu dropdown-menu-right"
                                role="menu"
                            >
                                {{link "my_activities" role="menuitem"}}
                                {{my_profile role="menuitem"}}
                                {{change_password role="menuitem"}}
                                {{link "sign_out" role="menuitem"}}
                            </div>
                        </div>
                    {{else}}
                        {{#link "sign_in" class="sign-in"}}
                            {{t 'sign_in'}}
                        {{/link}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</header>
